{{ if .Page.Params.cover }}
  <img src="{{ .Page.Params.cover }}" alt="{{ .Page.Params.title }}">
{{ end }}

{{ with .Page.Params.summary }}
  <p>{{ . | safeHTML }}
{{ end }}

<ul>
  {{ with .Page.Params.links }}
    {{ range $link := . }}
      <li>
        {{ $link.title }}: <a href="{{ $link.url }}">{{ $link.url }}</a>
      </li>
    {{ end }}
  {{ end }}
  {{ with .Page.Params.when }}
    <li>
      Date: {{ . }}
    </li>
  {{ end }}
  {{ with .Page.Params.src }}
    <li>
      Source code: <a href="{{ . }}">{{ . }}</a>
    </li>
  {{ end }}
  {{ with .Page.Params.platforms }}
    <li>
      Platform{{ if gt (len .) 1 }}s{{ end }}: {{ delimit . ", " }}
    </li>
  {{ end }}
  {{ with .Page.Params.languages }}
    <li>
      Language{{ if gt (len .) 1 }}s{{ end }}: {{ delimit . ", " }}
    </li>
  {{ end }}
  {{ with .Page.Params.libraries }}
    <li>
      Librar{{ if eq (len .) 1 }}y{{ else }}ies{{ end }}: {{ delimit . ", " }}
    </li>
  {{ end }}
  {{ with .Page.Params.tools }}
    <li>
      Tool{{ if gt (len .) 1 }}s{{ end }}: {{ delimit . ", " }}
    </li>
  {{ end }}
</ul>

{{ with .Page.Params.screenshots }}
  {{ range . }}<img src="{{ . }}">{{ end }}
{{ end }}
